.form {
  background-color: #ebf5ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 40px 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form form {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }

  .form h1 {
    margin: 0px;
    color: #0056b3;
    padding-bottom: 20px;
    font-family: inherit;
    font-weight: 700;
    font-size: 30px;

  }
  
  .form div {
    margin-bottom: 15px;
    width: 100%
  }
  
  .form label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
  }
  
  .form input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  .form .error {
    color: rgb(206, 41, 41);
    font-size: 13px;
    margin: 0px;
    padding-top: 2px;
  }
  
  .form button {
    width: 100%;
    border-radius: 10px;
    padding: 10px 15px;
    border: none;
    background-color: #0056b3;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
  }
  
  .form button:hover {
    background-color: #0b65c5;
  }
  
  .card {
    background-color: #ebf5ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 400px;
    margin: 0 auto;
    padding: 40px 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInCard 1s ease forwards;
  }

  .card h3{
    word-wrap: anywhere;
    font-family: inherit;
    font-weight: 700;
    font-size: 22px;
    margin: 0px;
  }

  .card .profile-img{
    width: 185px;
    height: 185px;
  }

  .card .profile-img img{
    border-radius: 50%;
  }

  .card button{
    width: 80%;
    border-radius: 10px;
    padding: 10px 15px;
    border: none;
    background-color: #851720;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
  }

  .card button:hover {
    background-color: #9c242e;
  }

  /* Keyframes for the fade-in effect */
@keyframes fadeInCard {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Start 20px lower */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at its normal position */
  }
}